/*Styling for the application
* Completed by Tori Thompson
*/
body {
    background-color: lightblue;
    color: black;
}

label {
    width: 150px;
    display: inline-block;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
}

button,
input[type=submit],
a {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 40px;
}

table thead th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 7px;
}

table tbody td {
    border: 1px solid #ddd;
    padding: 7px;
    background-color: #f5f5f5;
}

table tbody tr:hover {
    background-color: lightgray;
}

.dropdown-style {
    width: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}

select {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
  }

  select:hover, select:focus {
    border-color: #3498db;
  }


.header-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
        justify-content: space-between;
        align-items: center;
}

.header-title {
    margin: 0;
    font-size: 36px;
}

.header-subtitle {
    margin: 10px 0;
    font-size: 18px;
}
.logout-container {
    margin-top: 40px;
    margin-bottom:20px;
}
.back-button {
    margin-right: 10px;
}