<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Admin</title>
</head>

<body>
    <div th:insert="~{fragments/frags :: header}" class="header">
    </div>
    <h2>Admin Page</h2>
    <form action="/add-admin" method="post" th:object="${admin}">
        <label>Username</label>
        <input type="text" name="username" th:field="*{username}">
        <br>
        <label>Password</label>
        <input type="password" name="password" th:field="*{password}">
        <br>
        <label>First Name</label>
        <input type="text" name="firstName" th:field="*{firstName}">
        <br>
        <label>Last Name</label>
        <input type="text" name="lastName" th:field="*{lastName}">
        <br>
        <label>Email</label>
        <input type="text" name="email" th:field="*{email}">
        <br>
        <label>Phone</label>
        <input type="text" name="phoneNumber" th:field="*{phoneNumber}">
        <br>
        <label>Address</label>
        <input type="text" name="address" th:field="*{address}">
        <br>
        <label>City</label>
        <input type="text" name="city" th:field="*{city}">
        <br>
        <label>Province</label>
        <input type="text" name="province" th:field="*{province}">
        <br>
        <label>Postal Code</label>
        <input type="text" name="postalCode" th:field="*{postalCode}">
        <br>
        <label>Country</label>
        <input type="text" name="country" th:field="*{country}">
        <br>
        <br>
        <button>Submit</button>
    </form>
    <table>
        <thead>
            <th>Employee Number</th>
            <th>User Name</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Postal Code</th>
            <th>City</th>
            <th>Province</th>
            <th>Country</th>
        </thead>
        <tr th:each="admins,row:${allAdmins}">
            <td th:text="${admins.id}"></td>
            <td th:text="${admins.username}"></td>
            <td th:text="${admins.password}"></td>
            <td th:text="${admins.firstName}"></td>
            <td th:text="${admins.lastName}"></td>
            <td th:text="${admins.email}"></td>
            <td th:text="${admins.phoneNumber}"></td>
            <td th:text="${admins.address}"></td>
            <td th:text="${admins.postalCode}"></td>
            <td th:text="${admins.city}"></td>
            <td th:text="${admins.province}"></td>
            <td th:text="${admins.country}"></td>
        </tr>
    </table>
    <div th:insert="~{fragments/frags :: logout}">
    </div>
</body>

</html>