<!-- Ethan Watson -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div th:insert="~{fragments/frags :: header}" class="header">
    </div>
    <table border="solid">
        <thead>
            <th>Assignment ID</th>
            <th>Assignment Name</th>
            <th>Assignment Description</th>
            <th>Due Date</th>
            <th>Submission</th>
        </thead>
        <tbody>
            <tr th:if="${#lists.isEmpty(assignments)}">
                <td colspan="5">No assignments</td>
            </tr>
            <tr th:each="assignment : ${assignments}" th:if="${not #lists.isEmpty(assignments)}">
                <td th:text="${assignment.id}"></td>
                <td th:text="${assignment.name}"></td>
                <td th:text="${assignment.description}"></td>
                <td th:text="${assignment.dueDate}"></td>
                <td th:text="${assignment.filePath}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>