<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Course Master</title>
</head>

<body>
    <div th:insert="~{fragments/frags :: header}" class="header">
    </div>
    <h2>Welcome to Course Master</h2>
    <h3>If you are an Instructor, Admin or Student please click below</h3>
    <a th:href="@{/login}">Go to login page</a>

</body>

</html>