<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Instructor</title>
</head>

<body>
    <div th:insert="~{fragments/frags :: header}" class="header">
    </div>
    <h2>Instructor Page</h2>

    <table>
        <tr>
            <td></td>
        </tr>
    </table>
    <div th:insert="~{fragments/frags :: logout}">
    </div>
</body>

</html>