<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Instructor</title>
</head>

<!-- Ethan Watson -->

<body>
    <div th:insert="~{fragments/frags :: header}" class="header">
    </div>
    <h2>Instructor Page</h2>

    <table border="solid">
        <thead>
            <td>Username</td>
            <td>Password</td>
            <td>Permissions</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Phone Number</td>
            <td>Address</td>
            <td>City</td>
            <td>Province</td>
            <td>Postal Code</td>
            <td>Country</td>
            <td>Courses</td>
            <td>Assignments</td>
        </thead>
        <tr>
            <td th:text="${i.username}"></td>
            <td th:text="${i.password}"></td>
            <td th:text="${i.permissions}"></td>
            <td th:text="${i.firstName}"></td>
            <td th:text="${i.lastName}"></td>
            <td th:text="${i.email}"></td>
            <td th:text="${i.phoneNumber}"></td>
            <td th:text="${i.address}"></td>
            <td th:text="${i.city}"></td>
            <td th:text="${i.province}"></td>
            <td th:text="${i.postalCode}"></td>
            <td th:text="${i.country}"></td>
        </tr>
    </table>

    <a href="/courses">View courses</a>

    <h3>Create New Assignment</h3>
    <form action="/createAssignment">
        <label for="assignmentName">Assignment Name</label>
        <input type="text" name="assignmentName" id="">
        <br>
        <label for="assignmentDescription">Assignment Description</label>
        <input type="text" name="assignmentDescription">
        <br>
        <label for="assignmentDueDate">Due Date</label>
        <input type="text" name="assignmentDueDate">
        <br>
        <label for=""></label>
        <input type="text" name="" id="">
        <br>
        <input type="submit" value="Create Assignment">
    </form>


    <div th:insert="~{fragments/frags :: logout}">
    </div>
</body>

</html>