<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Instructor</title>
</head>

<!-- Ethan Watson -->

<body>
    <div th:insert="~{fragments/frags :: header}" class="header">
    </div>
    <h2>Instructor Page</h2>

    <table border="solid">
        <thead>
            <th>Employee ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Permissions</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>City</th>
            <th>Province</th>
            <th>Postal Code</th>
            <th>Country</th>
            <!-- <th>Courses</th>
            <th>Assignments</th> -->
        </thead>
        <tr>
            <td th:text="${i.username}"></td>
            <td th:text="${i.password}"></td>
            <td th:text="${i.permissions}"></td>
            <td th:text="${i.firstName}"></td>
            <td th:text="${i.lastName}"></td>
            <td th:text="${i.email}"></td>
            <td th:text="${i.phoneNumber}"></td>
            <td th:text="${i.address}"></td>
            <td th:text="${i.city}"></td>
            <td th:text="${i.province}"></td>
            <td th:text="${i.postalCode}"></td>
            <td th:text="${i.country}"></td>
        <tr th:each="instructor,row:${instructor}">
            <td th:text="${instructor_id}"></td>
            <td th:text="${instructor.username}"></td>
            <td th:text="${instructor.password}"></td>
            <td th:text="${instructor.permissions}"></td>
            <td th:text="${instructor.firstName}"></td>
            <td th:text="${instructor.lastName}"></td>
            <td th:text="${instructor.email}"></td>
            <td th:text="${instructor.phoneNumber}"></td>
            <td th:text="${instructor.address}"></td>
            <td th:text="${instructor.city}"></td>
            <td th:text="${instructor.province}"></td>
            <td th:text="${instructor.postalCode}"></td>
            <td th:text="${instructor.country}"></td>
            <!-- <td th:text="${instructor.courses}"></td> -->
            <!-- <td th:text="${instructor.assignments}"></td> -->
        </tr>
    </table>

    <a href="/courses">View courses</a>
    <br><br>
    <h3>Create New Assignment</h3>
    <form action="/createAssignment">
        <label for="assignmentName">Assignment Name</label>
        <input type="text" name="assignmentName" id="">
        <br>
        <label for="assignmentDescription">Assignment Description</label>
        <input type="text" name="assignmentDescription">
        <br>
        <label for="assignmentDueDate">Due Date</label>
        <input type="text" name="assignmentDueDate">
        <br>
        <!-- <label for=""></label>
        <input type="text" name="" id=""> -->

        <input type="submit" value="Create Assignment">
    </form>


    <div th:insert="~{fragments/frags :: logout}">
    </div>
</body>

</html>