<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
</head>

<body>
    <h2>Login</h2>
    <form action="/login" method="post" th:object="${employee}">
        <label>User Id</label>
        <input type="text" name="userId" th:field="*{userId}">
        <br>
        <label>Password</label>
        <input type="password" name="password">
        <br>
        <br>
        <button>Login</button>
    </form>
</body>

</html>