<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing and Payments</title>
</head>
<body>
    <h1>Billing and Payments</h1>
    <p>Here you can pay your bills</p>
    <form action="/payment" method="post">
        <label for="amount">Amount</label>
        <input type="text" name="amount" id="amount">
        <input type="submit" value="Pay">
    </form>

    <table border="solid">
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last name</th>
            <th>Amount Owed</th>
            <th>Payment status</th>
        </tr>
        <tr th:each="payment:${Payments}">
            <td th:text="${payment.student}"></td>
            <td th:text="${payment.firstName}"></td>
            <td th:text="${payment.lastName}"></td>
            <td th:text="${payment.amountOwed}"></td>
            <td th:text="${payment.paymentStatus}"></td>
        </tr>
    </table>
</body>
</html>