<!-- author: Fidy Fiaferana -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Billing and Payments</title>
</head>

<body>
    <div th:insert="~{fragments/frags :: header}" class="header">
    </div>
    <h1>Billing and Payments</h1>
    <p>Here you can pay your bills</p>
    <form action="/payment" method="post">
        <label for="amount">Amount</label>
        <input type="text" name="amount" required>
        <input type="text" name="id" th:value="${Payments.paymentId}" style="display: none;">
        <br>
        <table border="solid">
            <thead>
                <th>Select</th>
                <th>Payment ID</th>
                <th>First Name</th>
                <th>Last name</th>
                <th>Amount Owed</th>
                <th>Payment status</th>
            </thead>
            <tr th:each="payment:${Payments}">
                <td>
                    <input type="radio" th:name="paymentid" th:value="${payment.paymentId}"
                        th:disabled="${payment.amountOwed le 0}" required>
                </td>
                <td th:text="${payment.paymentId}"></td>
                <td th:text="${payment.firstName}"></td>
                <td th:text="${payment.lastName}"></td>
                <td th:text="${payment.amountOwed}"></td>
                <td>
                    <span th:if="${payment.paymentStatus == 1}">Balance Unpaid</span>
                    <span th:unless="${payment.paymentStatus == 1}">Balance Paid</span>
                </td>
            </tr>
        </table>
        <span th:if="${Payments.amountOwed} > 0">
            <input type="submit" value="Pay">
        </span>
    </form>
    <div th:insert="~{fragments/frags :: logout}">
    </div>
</body>

</html>