<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div th:insert="~{fragments/frags :: header}" class="header">
    </div>
    <p>I am the best student</p>
    <a href="/payment">View payment balance</a>
    <div th:insert="~{fragments/frags :: logout}">
    </div>
</body>

</html>